In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../')

import pandas as pd
from src import preprocess, plot, classify

input_path = '../data/data.csv'

In [17]:
df = preprocess.parse_data(input_path)
display(df.head(1))
df = preprocess.convert_currency(df)
df = preprocess.category_to_number(df)
display(df.head(1))

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
0,1,2015-11-09 14:26:51,MX,mccredit,530056.0,64800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 23:03:11,MexicoAccount,email68370,ip111778,card184798

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id,amount_convert
0,1,2015-11-09 14:26:51,76,2,530056.0,64800.0,2,98,1,1,1,0,2015-07-01 23:03:11,1,187702,7386,73358,2823.984

In [ ]:
df = preprocess.aggregate(df)
display(df.head(10))

In [49]:
# df_aggregated = df
df_aggregated.to_pickle("./df_aggregated.pkl")

In [20]:
display(df.head(10))
print(len(df))

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,...,creationdate,accountcode,mail_id,ip_id,card_id,amount_convert,amount_mean_day,amount_mean_week,amount_mean_month,same_ip
205368,372697,2015-10-09 20:20:25,40,8,465859.0,4370.0,1,47,1,0,...,2015-10-08 00:58:44,3,148762,174878,0,4953.61350,4953.61350,4953.61350,4953.61350,1.0
222380,392860,2015-10-18 23:34:23,40,2,527669.0,8067.0,1,47,1,0,...,2015-10-16 12:55:18,3,121945,11343,1,9144.34785,9144.34785,9144.34785,9144.34785,1.0
71228,216605,2015-07-10 07:34:43,40,8,475129.0,7675.0,1,47,1,0,...,2015-07-08 11:13:44,3,16541,198485,2,8699.99625,8699.99625,8699.99625,8699.99625,1.0
220747,390975,2015-10-16 01:53:07,40,8,465901.0,8619.0,1,47,1,0,...,2015-10-14 18:33:39,3,120671,40573,3,9770.06745,9770.06745,9770.06745,9770.06745,1.0
88091,237318,2015-07-21 22:34:59,40,8,465845.0,5395.0,1,47,1,0,...,2015-07-19 18:20:03,3,204535,11654,4,6115.50225,6115.50225,6115.50225,6115.50225,1.0
132251,289172,2015-08-20 00:19:22,40,2,518652.0,5850.0,1,47,1,0,...,2015-08-18 23:18:01,3,105228,117693,5,6631.26750,6631.26750,6631.26750,6631.26750,1.0
194456,360269,2015-10-01 17:44:52,40,8,446291.0,6090.0,1,47,1,0,...,2015-09-30 16:36:58,3,60601,61671,6,6903.31950,6903.31950,6903.31950,6903.31950,1.0
147964,307228,2015-08-31 19:10:32,40,8,453978.0,7000.0,1,47,1,0,...,2015-08-28 20:59:22,3,73942,54734,7,7934.85000,7934.85000,7934.85000,7934.85000,1.0
49628,81391,2015-09-22 04:49:30,7,2,552350.0,5850.0,0,8,1,0,...,2015-09-21 04:17:09,0,171809,39890,8,3694.91850,3694.91850,3694.91850,3694.91850,1.0
73474,219262,2015-07-11 00:48:20,40,8,492181.0,2895.0,1,47,1,0,...,2015-07-09 22:53:03,3,42059,152739,9,3281.62725,3281.62725,3281.62725,3281.62725,1.0

237036

In [21]:
df = df_aggregated
del df['creationdate']
del df['bookingdate']
del df['mail_id']
del df['ip_id']
del df['card_id']

del df['txid']
del df['amount']

del df['bin']
# del df['txvariantcode']

df.head(1)

,issuercountrycode,txvariantcode,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,accountcode,amount_convert,amount_mean_day,amount_mean_week,amount_mean_month,same_ip
205368,40,8,1,47,1,0,2,1,3,4953.6135,4953.6135,4953.6135,4953.6135,1.0

In [22]:
# df_selected = df[['currencycode', 'txvariantcode', 'issuercountrycode', 'cvcresponsecode', 'accountcode', 'amount_convert','simple_journal']]
# df_selected = df[['issuercountrycode', 'currencycode', 'txvariantcode','cvcresponsecode','amount_convert', 'simple_journal']]
# df_selected = df[['simple_journal', 'amount_convert', 'amount_sum_day', 'amount_sum_week', 'amount_sum_month', 'same_ip']]
# df_selected = df[['issuercountrycode', 'txvariantcode','bin', 'currencycode','shoppercountrycode', 'amount_convert', 'simple_journal']]
df_selected = df

In [28]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis, LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

kn = KNeighborsClassifier()
lda = LinearDiscriminantAnalysis()
qda = QuadraticDiscriminantAnalysis()
nb = GaussianNB()
mnb = MultinomialNB()
dt = DecisionTreeClassifier(random_state=42, max_features='sqrt')
# svc = SVC(gamma='scale', probability=True)

X, y = preprocess.split_data_label(df_selected)

print('KNeighborsClassifier')
classify.tenfold_cv(kn, X, y)
print('LinearDiscriminantAnalysis')
classify.tenfold_cv(lda, X, y)
print('QuadraticDiscriminantAnalysis')
classify.tenfold_cv(qda, X, y)
print('GaussianNB')
classify.tenfold_cv(nb, X, y)
print('MultinomialNB')
classify.tenfold_cv(mnb, X, y)

In [48]:
print('DecisionTreeClassifier')
dt = DecisionTreeClassifier(random_state=42, max_features='sqrt')
classify.tenfold_cv(dt, X, y, True, threshold=0.7)
classify.tenfold_cv(dt, X, y, True, threshold=0.8)
classify.tenfold_cv(dt, X, y, True, threshold=0.97)
# classify.roc(svc, X, y)

DecisionTreeClassifier
TP: 66
FP: 1756
FN: 279
TN: 234935


TP: 62
FP: 1567
FN: 283
TN: 235124


TP: 34
FP: 636
FN: 311
TN: 236055

In [43]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()
X, y = preprocess.split_data_label(df_selected)

print("All features")
classify.tenfold_cv(nb, X,y)
print("All features -- higher threshold")
classify.tenfold_cv(nb, X,y, threshold=0.95)
print("All features -- smote")
classify.tenfold_cv(nb, X,y,True)
print("All features -- smote + higher threshold")
classify.tenfold_cv(nb, X,y,smote_data=True,threshold=0.95)

All features
TP: 94
FP: 4595
FN: 251
TN: 232096


All features -- higher threshold
TP: 79
FP: 3189
FN: 266
TN: 233502


All features -- smote
TP: 275
FP: 42825
FN: 70
TN: 193866


All features -- smote + higher threshold
TP: 120
FP: 9677
FN: 225
TN: 227014

In [44]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
X, y = preprocess.split_data_label(df)

print("All features")
classify.tenfold_cv(mnb, X,y)
print("All features -- higher treshold")
classify.tenfold_cv(mnb, X,y, threshold=0.95)
print("All features -- smote")
classify.tenfold_cv(mnb, X,y,True)
print("All features -- smote + higher threshold")
classify.tenfold_cv(mnb, X,y,smote_data=True,threshold=0.95)

All features
TP: 159
FP: 48935
FN: 186
TN: 187756


All features -- higher treshold
TP: 158
FP: 44967
FN: 187
TN: 191724


All features -- smote
TP: 162
FP: 58055
FN: 183
TN: 178636


All features -- smote + higher threshold
TP: 162
FP: 53487
FN: 183
TN: 183204

In [45]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(random_state=42, max_features='sqrt', max_depth=50)
X, y = preprocess.split_data_label(df_selected)

print("All features")
classify.tenfold_cv(dt, X,y)
print("All features -- smote")
classify.tenfold_cv(dt, X,y,smote_data=True)
print("All features -- smote + higher threshold")
classify.tenfold_cv(dt, X,y,smote_data=True, threshold=0.95)

All features
TP: 28
FP: 185
FN: 317
TN: 236506


All features -- smote
TP: 67
FP: 2092
FN: 278
TN: 234599


All features -- smote + higher threshold
TP: 35
FP: 871
FN: 310
TN: 235820

In [ ]:
from sklearn.tree import DecisionTreeClassifier

X, y = preprocess.split_data_label(df_selected)

dt = DecisionTreeClassifier(random_state=42, max_features='sqrt', max_depth=50)

dt.fit(X_train, y_train)
y_prob = clf.predict_proba(X_test)
y_pred = y_prob[:, 1]


print("All features")
classify.tenfold_cv(dt, X,y)
print("All features -- smote")
classify.tenfold_cv(dt, X,y,smote_data=True)
print("All features -- smote + higher threshold")
classify.tenfold_cv(dt, X,y,smote_data=True, threshold=0.95)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.feature_selection import SelectKBest, chi2

df_selected = df[['issuercountrycode', 'txvariantcode','currencycode','shoppercountrycode', 'amount_convert', 'simple_journal']]
# df_selected = df[['issuercountrycode', 'txvariantcode','currencycode']]
X_train, X_test, y_train, y_test = preprocess.smote_df(df_selected, test_size=0.2)

In [259]:
dt = DecisionTreeClassifier(random_state=42, max_features='sqrt') #, max_leaf_nodes=20)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
print(confusion_matrix(y_test, y_pred))

[[46961   380]
 [   54    13]]

In [237]:
import graphviz 
from sklearn.tree import export_graphviz

import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

vals = df.columns.values
features = np.delete(vals, np.where(vals == 'simple_journal'))
labels = ['Settled', 'Chargeback']

dot_data = export_graphviz(dt, out_file=None, 
                    feature_names=features,  
                    class_names=labels,  
                    filled=True, rounded=True,  
                    special_characters=True)  
graph = graphviz.Source(dot_data)
graph

ValueError: Length of feature_names, 10 does not match number of features, 6

In [277]:
from sklearn.feature_selection import chi2, f_classif, SelectPercentile

chi, pvals = chi2(X,y)
result = pd.DataFrame([chi, pvals], columns=features, index=['chi', 'pval'])
result.sort_values('chi', axis=1)
display(result)

# chi, pvals = f_classif(X_train,y_train)
# result = pd.DataFrame([chi, pvals], columns=features, index=['chi', 'pval'])
# result.sort_values('chi', axis=1)
# display(result)

# 'currencycode', 'txvariantcode', 'issuercountrycode', 'cvcresponsecode', 'accountcode'

,issuercountrycode,txvariantcode,bin,currencycode,shoppercountrycode,shopperinteraction,cardverificationcodesupplied,cvcresponsecode,accountcode,amount_convert
chi,2.832760e+02,1.078860e+02,119627.072383,10.413018,8.369891e+02,0.621573,3.016407,2.038032e+02,3.352954e+02,2.077845e+06
pval,1.451159e-63,2.846906e-25,0.000000,0.001251,4.899935e-184,0.430463,0.082426,3.089831e-46,6.752710e-75,0.000000e+00